.bg1{
    background-image: url(../assets/bg1.jpg);
    height:300px;
}
.bg2{
    background-image: url(../assets/bg2.jpg);
     display: flex;
    justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
}
.bg3{
   background-color:  #EEEEEE;

}
.bg4{
    background-color: #464547
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.center {
  text-align: center;
}
.centerbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray
}
h1 {
    color: white
}
p{
    color: gray
    
}
.textWhite {
    color: white
}

.roundbutton {border-radius: 50%;}
.slogo{
    height: 20px;
    width: 20px;
}